<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ title }}</title>
<link rel="stylesheet" href="/_profiler/assets/css/debug-message.css">
</head>
<body>
  {% if heading %}<div class="msg-title">{{ heading }}</div>{% endif %}
  <div>{{ message | safe }}</div>
  {% if link %}<a href="{{ link.href }}">{{ link.label }}</a>{% endif %}
</body>
</html>
